body::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: fit-content;
  z-index: -1;
  background: linear-gradient(to right, #00fcf4 0%, #69dfff 30%, #69d5ff 33%, #69d5ff 60%, #69d5ff 66%, #00fcf4 100%);
}

.container {
  width: 80%;
  height: 100vh;
}

.inner_div {
  z-index: 1;
  background: red;
  height: 80vh;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(to right,
      #42f5cb 0%,
      #42f5cb 50%,
      rgba(255, 255, 255, 0.886) 50%,
      rgba(255, 255, 255, 0.886) 100%);
}

.main-login p {
  font-size: 6ch;
  text-align: center;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.main-login h1 {
  text-align: center;
}

.auth {
  box-sizing: border-box;
  background: linear-gradient(to right, #00fcf4 0%, #69dfff 30%, #69d5ff 33%, #69d5ff 60%, #69d5ff 66%, #00fcf4 100%);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slider-img {
  width: 90%;
  height: 90vh;
}

.resume-1 {
  background-color: rgba(255, 255, 255, 0.432);
  height: 82vh;
  border-radius: 10px;
  width: 50%;
  padding: 20px;
  overflow: hidden;
}
.template{
  width: 70%;
  background: linear-gradient(to right, #00fcf4 0%, #69dfff 30%, #69d5ff 33%, #69d5ff 60%, #69d5ff 66%, #00fcf4 100%);
  height:fit-content;
}
.resume-2{
  background: linear-gradient(to right, #00fcf4 0%, #69dfff 30%, #69d5ff 33%, #69d5ff 60%, #69d5ff 66%, #00fcf4 100%);
  border-radius: 10px;
  border: 1px solid black;
}
.carousel-item{
  padding: 10px;
}
.after_click{
  display: grid;
  grid-template-columns:  auto auto;
}
.dropdown{
  position: absolute;
  right: 2vw;
  top: 2vw;
  
}
.profile{
  height: 50vh;
  border-radius: 10px;

}
.items{
  display: grid;
  place-items: center;
  height: 100%;
}

.alert-2{
  height: 7px;
}